.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
}
.slide figure {
  width: auto;
}
.slide figure div {
  aspect-ratio: 16/9;
  width: calc(100% - 1rem);
  margin: 0 auto;  
  
  & img, & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}